.destination {
    color: #fff;
}

.title {
    margin: 5rem 0;
}

.title h1 {
    font-size: 3.2rem;
    line-height: 5.1rem;
    font-weight: 700;
}

.title span {
    color: #e8e6e3;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 0.16rem;
    text-transform: uppercase;
    line-height: 2.4rem;
    align-self: flex-start;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.8rem;
}

.info article {
    text-transform: capitalize;
    text-align: justify;
}

.info article p {
    margin-bottom: 1rem;
}

.info article h3 {
    font-size: 4rem;
}

.info article p:nth-child(1) {
    background: #9c6623;
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
}

.info article p:nth-child(2) {
    background: #000;
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.info > img {
    width: 100%;
    object-fit: cover;

    clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
    );
}

@media (max-width: 927px) {
    .destination .info {
        flex-direction: column;
    }

    .info article {
        margin-top: 2rem;
    }

    .info article p:nth-child(1),
    .info article p:nth-child(2) {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
